<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="zh_CN" ng-app="ordersApp">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8"/>
    <title>支付结果</title>
    <link rel="stylesheet" href="libs/bootstrap3.0/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="common/css/common.css" type="text/css">

    <script type="text/javascript" src="libs/angular-1.2.9/angular.min.js"></script>
    <script type="text/javascript" src="libs/angular-1.2.9/angular-resource.min.js"></script>
    <!--<script type="text/javascript" src="libs/angular-1.2.9/angular-route.min.js"></script>-->
    <script type="text/javascript" src="libs/jquery1.11.1/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="libs/bootstrap3.0/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="common/js/common.js"></script>
    <script type="text/javascript" src="orders/orders.js"></script>
</head>
<body ng-controller="payCtrl">
<div class="head">
    <div class="head_body">
        <div class="L" onclick="back()">
            返回上一页
        </div>
        <div class="R">
            <a href="/quitSystem">退出</a>
        </div>
    </div>
</div>
<div class="body">
    <div class="cart_head">
        <div class="logo">
            <img src="imgs/dy_logo.png" alt="大洋"/>
        </div>
        <div class="logo_text">支付结果</div>
        <div class="clean"></div>
    </div>
    <div  class="inf_body">
        <div ng-show="isSuccess">
            <div>
                您已成功支付<span class="y_text">{{selectData.price| currency:'￥'}}</span>
            </div>
            <div >包含 </div>
            <div>
                <div class="L" ng-repeat="name in goodsName track by $index">{{name}} |</div>
                <div class="clean"></div>
            </div>
            <div>
                等<span class="y_text">{{selectData.count}}</span>件商品
            </div>
        </div>
        <div ng-show="!isSuccess">
            {{msg}}
        </div>
    </div>
    <div style="margin: 20px 0;">
        <a href="viewOrders.html">查看我的订单</a>
    </div>
    <div style="margin: 20px 0;" ng-repeat="sonOrders in sonOrdersList track by $index" ng-show="sonOrdersList">
        <a ng-href="{{sonOrders.url+sonOrders.orderList}}">返回{{sonOrders.name}}查看我的订单</a>
    </div>
</div>

</body>
</html>